@use "../abstract" as *;

/* =========================================
   Scrollbar System
   설명: 공통 스크롤바 스타일
   - 기본(light background)
   - dark background (LNB 등)
========================================= */


/* ----------------------------------------
   Scrollbar Mixin
---------------------------------------- */

@mixin scrollbar($thumb, $hover) {

    scrollbar-width: thin;
    scrollbar-color: $thumb transparent;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {

        background-color: $thumb;

        border-radius: 999px;

        border: 2px solid transparent;

        background-clip: padding-box;

    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $hover;
    }

}


/* =========================================
   Default Scrollbar (Light UI)
========================================= */

* {
    @include scrollbar(rgba($gray-700, .45),
        rgba($gray-700, .7));
}


/* =========================================
   Dark Scrollbar (Sidebar / Dark UI)
========================================= */

.layout-nav,
.layout-nav * {

    @include scrollbar(rgba($gray-0, .35),
        rgba($gray-0, .6));

}