@use "../../abstract" as *;

/* =========================================
   Component: AppIcon
   설명: 공통 아이콘 래퍼
   사용 위치: Button / Choice / Menu / Input
========================================= */

.app-icon {

  /* ----------------------------------------
     Base
  ---------------------------------------- */

  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  line-height: 0;

  /* ----------------------------------------
     Icon Source
  ---------------------------------------- */

  svg,
  img {
    display: block;
    width: 100%;
    height: 100%;
  }

}